extends layout

block content
  h1= title
  div(ng-app='demo', ng-controller='HomeCtrl')
      ul.nav.nav-pills
          li
              a(href='#/projects') projects
          li
              a(href='#/companies') companies

      div(ng-view, style='margin-top: 30px')
