extends layout

block content
  h1= title
  div(ng-app='demo', ng-controller='HomeCtrl')
      ul.nav.nav-pills
          li(style='margin-left: 5px; margin-right: 15px')
              span
                a(href='#/projects') projects&nbsp;
                span.badge {{counts.projects}}
          li(style='margin-left: 5px; margin-right: 15px')
              span
                a(href='#/companies') companies&nbsp;
                span.badge {{counts.companies}}

      div(ng-view, style='margin-top: 30px')
